<!DOCTYPE HTML>
<html>

<head>
	<style>
		body {
			margin: 0 100px 0 100px;
			background-color: #1E2333;
		}

		.chart-class {
			margin-bottom: 10px;
			display: inline-block;
		}

		.chart-margin {
			margin-right: 10px;
		}

		.cvi-class {
			margin-top: 20px;
			background-color: #2F3547;
			color: #ffffff;
			width: 100%;
			text-align: center;
			height: 60px;
			margin-bottom: 20px;
			padding-top: 25px;
			border-radius: 5px;
			font-size: 2em;
			display: flex;
			flex-direction: row;
			align-content: flex-end;
			justify-content: center;
		}

		.tooltip {
			position: relative;
			display: inline-block;
			font-size: .5em;
			padding: 4px;
		}

		.tooltip .tooltiptext {
			visibility: hidden;
			width: 320px;
			background-color: #2F3547;
			border: 1px dotted #FFF;
			color: #fff;
			text-align: center;
			border-radius: 6px;
			padding: 5px;
			font-size: .8em;
			/* Position the tooltip */
			position: absolute;
			z-index: 1;
		}

		.tooltip:hover .tooltiptext {
			visibility: visible;
		}
	</style>
	<script>
		window.onload = function () {
			var dataArray = [{
				"functional_benefits": {
					"ease": 1,
					"efficiency": 1,
					"effectiveness": 1,
					"usability": 1,
					"reliability": 1,
					"service_support": 1
				},
				"social_benefits": {
					"familiarity": 1,
					"exclusiveness": 1,
					"peer_imitation": 1,
					"privilege": 1,
					"core_belief": 1,
					"sense_of_belongingness": 1
				},
				"psychological_benefits": {
					"pride": 1,
					"passion": 1,
					"surprise": 1,
					"pleasure": 1,
					"sensory_appeal": 1,
					"emotional_engagement": 1,
					"interests": 1
				},
				"opportunity_cost": {
					"assistance": 1,
					"convenience": 1,
					"predictability": 1,
					"hassle_data": 1,
					"timeliness": 1,
					"reduction_of_uncertainity": 1
				},
				"monetary_cost": {
					"monetary_rewards": 1,
					"maintenance_cost": 1
				}
			},
			{
				"functional_benefits": {
					"ease": 1,
					"efficiency": 1,
					"effectiveness": 1,
					"usability": 1,
					"reliability": 1,
					"service_support": 1
				},
				"social_benefits": {
					"familiarity": 10,
					"exclusiveness": 1,
					"peer_imitation": 1,
					"privilege": 1,
					"core_belief": 1,
					"sense_of_belongingness": 4
				},
				"psychological_benefits": {
					"pride": 1,
					"passion": 1,
					"surprise": 1,
					"pleasure": 1,
					"sensory_appeal": 1,
					"emotional_engagement": 4,
					"interests": 1
				},
				"opportunity_cost": {
					"assistance": 1,
					"convenience": 1,
					"predictability": 1,
					"hassle_data": 1,
					"timeliness": 1,
					"reduction_of_uncertainity": 1
				},
				"monetary_cost": {
					"monetary_rewards": 1,
					"maintenance_cost": 1
				}
			},
			{
				"functional_benefits": {
					"ease": 1,
					"efficiency": 1,
					"effectiveness": 1,
					"usability": 2,
					"reliability": 2,
					"service_support": 2
				},
				"social_benefits": {
					"familiarity": 10,
					"exclusiveness": 1,
					"peer_imitation": 4,
					"privilege": 1,
					"core_belief": 4,
					"sense_of_belongingness": 4
				},
				"psychological_benefits": {
					"pride": 1,
					"passion": 4,
					"surprise": 1,
					"pleasure": 1,
					"sensory_appeal": 1,
					"emotional_engagement": 6,
					"interests": 10
				},
				"opportunity_cost": {
					"assistance": 10,
					"convenience": 1,
					"predictability": 1,
					"hassle_data": 2,
					"timeliness": 1,
					"reduction_of_uncertainity": 1
				},
				"monetary_cost": {
					"monetary_rewards": 1,
					"maintenance_cost": 2
				}
			},
			{
				"functional_benefits": {
					"ease": 1,
					"efficiency": 1,
					"effectiveness": 1,
					"usability": 2,
					"reliability": 2,
					"service_support": 2
				},
				"social_benefits": {
					"familiarity": 10,
					"exclusiveness": 1,
					"peer_imitation": 4,
					"privilege": 1,
					"core_belief": 4,
					"sense_of_belongingness": 4
				},
				"psychological_benefits": {
					"pride": 1,
					"passion": 4,
					"surprise": 1,
					"pleasure": 1,
					"sensory_appeal": 1,
					"emotional_engagement": 6,
					"interests": 10
				},
				"opportunity_cost": {
					"assistance": 10,
					"convenience": 1,
					"predictability": 1,
					"hassle_data": 2,
					"timeliness": 1,
					"reduction_of_uncertainity": 1
				},
				"monetary_cost": {
					"monetary_rewards": 1,
					"maintenance_cost": 2
				}
			},
			{
				"functional_benefits": {
					"ease": 10,
					"efficiency": 4,
					"effectiveness": 1,
					"usability": 2,
					"reliability": 2,
					"service_support": 2
				},
				"social_benefits": {
					"familiarity": 10,
					"exclusiveness": 6,
					"peer_imitation": 4,
					"privilege": 10,
					"core_belief": 4,
					"sense_of_belongingness": 10
				},
				"psychological_benefits": {
					"pride": 6,
					"passion": 4,
					"surprise": 10,
					"pleasure": 4,
					"sensory_appeal": 4,
					"emotional_engagement": 6,
					"interests": 10
				},
				"opportunity_cost": {
					"assistance": 10,
					"convenience": 10,
					"predictability": 8,
					"hassle_data": 2,
					"timeliness": 4,
					"reduction_of_uncertainity": 10
				},
				"monetary_cost": {
					"monetary_rewards": 10,
					"maintenance_cost": 2
				}
			},
			{
				"functional_benefits": {
					"ease": 10,
					"efficiency": 10,
					"effectiveness": 1,
					"usability": 4,
					"reliability": 4,
					"service_support": 4
				},
				"social_benefits": {
					"familiarity": 10,
					"exclusiveness": 6,
					"peer_imitation": 4,
					"privilege": 10,
					"core_belief": 4,
					"sense_of_belongingness": 10
				},
				"psychological_benefits": {
					"pride": 6,
					"passion": 4,
					"surprise": 10,
					"pleasure": 6,
					"sensory_appeal": 4,
					"emotional_engagement": 6,
					"interests": 10
				},
				"opportunity_cost": {
					"assistance": 10,
					"convenience": 10,
					"predictability": 8,
					"hassle_data": 10,
					"timeliness": 10,
					"reduction_of_uncertainity": 10
				},
				"monetary_cost": {
					"monetary_rewards": 10,
					"maintenance_cost": 4
				}
			},
			{
				"functional_benefits": {
					"ease": 10,
					"efficiency": 10,
					"effectiveness": 1,
					"usability": 4,
					"reliability": 4,
					"service_support": 4
				},
				"social_benefits": {
					"familiarity": 10,
					"exclusiveness": 6,
					"peer_imitation": 4,
					"privilege": 10,
					"core_belief": 4,
					"sense_of_belongingness": 10
				},
				"psychological_benefits": {
					"pride": 6,
					"passion": 4,
					"surprise": 10,
					"pleasure": 6,
					"sensory_appeal": 4,
					"emotional_engagement": 6,
					"interests": 10
				},
				"opportunity_cost": {
					"assistance": 10,
					"convenience": 10,
					"predictability": 8,
					"hassle_data": 10,
					"timeliness": 10,
					"reduction_of_uncertainity": 10
				},
				"monetary_cost": {
					"monetary_rewards": 10,
					"maintenance_cost": 4
				}
			},
			{
				"functional_benefits": {
					"ease": 10,
					"efficiency": 10,
					"effectiveness": 1,
					"usability": 4,
					"reliability": 4,
					"service_support": 4
				},
				"social_benefits": {
					"familiarity": 10,
					"exclusiveness": 10,
					"peer_imitation": 4,
					"privilege": 10,
					"core_belief": 4,
					"sense_of_belongingness": 10
				},
				"psychological_benefits": {
					"pride": 8,
					"passion": 4,
					"surprise": 10,
					"pleasure": 6,
					"sensory_appeal": 6,
					"emotional_engagement": 10,
					"interests": 10
				},
				"opportunity_cost": {
					"assistance": 10,
					"convenience": 10,
					"predictability": 8,
					"hassle_data": 10,
					"timeliness": 10,
					"reduction_of_uncertainity": 10
				},
				"monetary_cost": {
					"monetary_rewards": 10,
					"maintenance_cost": 4
				}
			},
			{
				"functional_benefits": {
					"ease": 10,
					"efficiency": 10,
					"effectiveness": 1,
					"usability": 4,
					"reliability": 4,
					"service_support": 4
				},
				"social_benefits": {
					"familiarity": 10,
					"exclusiveness": 10,
					"peer_imitation": 4,
					"privilege": 10,
					"core_belief": 4,
					"sense_of_belongingness": 10
				},
				"psychological_benefits": {
					"pride": 8,
					"passion": 4,
					"surprise": 10,
					"pleasure": 6,
					"sensory_appeal": 6,
					"emotional_engagement": 10,
					"interests": 10
				},
				"opportunity_cost": {
					"assistance": 10,
					"convenience": 10,
					"predictability": 8,
					"hassle_data": 10,
					"timeliness": 10,
					"reduction_of_uncertainity": 10
				},
				"monetary_cost": {
					"monetary_rewards": 10,
					"maintenance_cost": 4
				}
			},
			{
				"functional_benefits": {
					"ease": 10,
					"efficiency": 10,
					"effectiveness": 1,
					"usability": 4,
					"reliability": 4,
					"service_support": 4
				},
				"social_benefits": {
					"familiarity": 10,
					"exclusiveness": 10,
					"peer_imitation": 4,
					"privilege": 10,
					"core_belief": 4,
					"sense_of_belongingness": 10
				},
				"psychological_benefits": {
					"pride": 10,
					"passion": 4,
					"surprise": 10,
					"pleasure": 6,
					"sensory_appeal": 6,
					"emotional_engagement": 10,
					"interests": 10
				},
				"opportunity_cost": {
					"assistance": 10,
					"convenience": 10,
					"predictability": 8,
					"hassle_data": 10,
					"timeliness": 10,
					"reduction_of_uncertainity": 10
				},
				"monetary_cost": {
					"monetary_rewards": 10,
					"maintenance_cost": 4
				}
			}]

			var functional_benefits = []
			for (var i = 0; i < dataArray.length; i++) {
				functional_benefits[i] = dataArray[i].functional_benefits.ease + dataArray[i].functional_benefits.effectiveness +
					dataArray[i].functional_benefits.efficiency +
					dataArray[i].functional_benefits.usability +
					dataArray[i].functional_benefits.reliability +
					dataArray[i].functional_benefits.service_support;
			}

			var social_benefits = [];
			for (var i = 0; i < dataArray.length; i++) {
				social_benefits[i] = dataArray[i].social_benefits.familiarity +
					dataArray[i].social_benefits.exclusiveness +
					dataArray[i].social_benefits.peer_imitation +
					dataArray[i].social_benefits.privilege +
					dataArray[i].social_benefits.core_belief +
					dataArray[i].social_benefits.sense_of_belongingness;

			}

			var psychological_benefits = [];
			for (var i = 0; i < dataArray.length; i++) {
				psychological_benefits[i] = dataArray[i].psychological_benefits.pride +
					dataArray[i].psychological_benefits.passion +
					dataArray[i].psychological_benefits.surprise +
					dataArray[i].psychological_benefits.pleasure +
					dataArray[i].psychological_benefits.sensory_appeal +
					dataArray[i].psychological_benefits.emotional_engagement +
					dataArray[i].psychological_benefits.interests;
			}

			var opportunity_cost = [];

			for (var i = 0; i < dataArray.length; i++) {
				opportunity_cost[i] = dataArray[i].opportunity_cost.assistance +
					dataArray[i].opportunity_cost.convenience +
					dataArray[i].opportunity_cost.predictability +
					dataArray[i].opportunity_cost.hassle_data +
					dataArray[i].opportunity_cost.timeliness +
					dataArray[i].opportunity_cost.reduction_of_uncertainity;
			}

			var monetary_cost = [];
			for (var i = 0; i < dataArray.length; i++) {
				monetary_cost[i] = dataArray[i].monetary_cost.maintenance_cost + dataArray[i].monetary_cost.monetary_rewards;
			}

			//formula

			var cvi = [];

			for (var i = 0; i < dataArray.length; i++) {
				cvi[i] = (((functional_benefits[i] / 10 + social_benefits[i] / 10 + psychological_benefits[i] / 10) / 19) / (1.1 - ((opportunity_cost[i] / 10 + monetary_cost[i] / 10) / 8))).toFixed(2);
			}

			document.getElementById('cvi').innerHTML = 0;



			var chart = new CanvasJS.Chart("chartContainer", {
				animationEnabled: true,
				backgroundColor: "#2F3547",
				//theme: "dark1", // "light1", "light2", "dark1", "dark2"
				title: {
					text: "Functional Benefits",
					fontColor: "#FFFFFF",
					fontSize: 18,
					fontFamily: "Arial"
				},
				toolTip: {
					backgroundColor: "#1E2333",
					fontColor: "#FFFFFF"
				},
				axisX: {
					labelFontColor: "#FFFFFF"
				},
				axisY: {
					labelFontColor: "#FFFFFF"
				},
				dataPointWidth: 20,
				width: 774,
				data: [{
					type: "column",
					color: "white",
					indexLabel: "{y}",
					indexLabelFontColor: "#FFFFFF",
					dataPoints: [
						{ y: dataArray[cvi.length - 1].functional_benefits.ease, label: "Ease" },
						{ y: dataArray[cvi.length - 1].functional_benefits.efficiency, label: "Efficiency" },
						{ y: dataArray[cvi.length - 1].functional_benefits.effectiveness, label: "Effectiveness" },
						{ y: dataArray[cvi.length - 1].functional_benefits.reliability, label: "Reliability" },
						{ y: dataArray[cvi.length - 1].functional_benefits.service_support, label: "Service Support" },
						{ y: dataArray[cvi.length - 1].functional_benefits.usability, label: "Usability" }
					]
				}]
			});
			chart.render();

			var chart = new CanvasJS.Chart("chartContainerTwo", {
				animationEnabled: true,
				backgroundColor: "#2F3547",
				//theme: "dark1", // "light1", "light2", "dark1", "dark2"
				title: {
					text: "Social Benefits",
					fontColor: "#FFFFFF",
					fontSize: 18,
					fontFamily: "Arial"
				},
				toolTip: {
					backgroundColor: "#1E2333",
					fontColor: "#FFFFFF"
				},
				axisX: {
					labelFontColor: "#FFFFFF"
				},
				axisY: {
					labelFontColor: "#FFFFFF"
				},
				dataPointWidth: 20,
				width: 915,
				data: [{
					type: "column",
					color: "white",
					indexLabel: "{y}",
					indexLabelFontColor: "#FFFFFF",
					dataPoints: [
						{ y: dataArray[cvi.length - 1].social_benefits.familiarity, label: "Familiarity" },
						{ y: dataArray[cvi.length - 1].social_benefits.exclusiveness, label: "Exclusiveness" },
						{ y: dataArray[cvi.length - 1].social_benefits.peer_imitation, label: "Peer Imitation" },
						{ y: dataArray[cvi.length - 1].social_benefits.privilege, label: "Privilege" },
						{ y: dataArray[cvi.length - 1].social_benefits.core_belief, label: "Core Belief" },
						{ y: dataArray[cvi.length - 1].social_benefits.sense_of_belongingness, label: "Sense of Belongingness" }
					]
				}]
			});
			chart.render();


			var chart = new CanvasJS.Chart("chartContainerThree", {
				animationEnabled: true,
				backgroundColor: "#2F3547",
				//theme: "dark1", // "light1", "light2", "dark1", "dark2"
				title: {
					text: "Psychological Benefits",
					fontColor: "#FFFFFF",
					fontSize: 18,
					fontFamily: "Arial"
				},
				toolTip: {
					backgroundColor: "#1E2333",
					fontColor: "#FFFFFF"
				},
				axisX: {
					labelFontColor: "#FFFFFF"
				},
				axisY: {
					labelFontColor: "#FFFFFF"
				},
				dataPointWidth: 20,
				width: 774,
				data: [{
					type: "column",
					color: "white",
					indexLabel: "{y}",
					indexLabelFontColor: "#FFFFFF",
					dataPoints: [
						{ y: dataArray[cvi.length - 1].psychological_benefits.pride, label: "Pride" },
						{ y: dataArray[cvi.length - 1].psychological_benefits.passion, label: "Passion" },
						{ y: dataArray[cvi.length - 1].psychological_benefits.surprise, label: "Surprise" },
						{ y: dataArray[cvi.length - 1].psychological_benefits.pleasure, label: "Pleasure" },
						{ y: dataArray[cvi.length - 1].psychological_benefits.sensory_appeal, label: "Sensory Appeal" },
						{ y: dataArray[cvi.length - 1].psychological_benefits.emotional_engagement, label: "Emotional Engagement" },
						{ y: dataArray[cvi.length - 1].psychological_benefits.interests, label: "Interests" }
					]
				}]
			});
			chart.render();


			var chart = new CanvasJS.Chart("chartContainerFour", {
				animationEnabled: true,
				backgroundColor: "#2F3547",
				//theme: "dark1", // "light1", "light2", "dark1", "dark2"
				title: {
					text: "Opportunity Cost",
					fontColor: "#FFFFFF",
					fontSize: 18,
					fontFamily: "Arial"
				},
				toolTip: {
					backgroundColor: "#1E2333",
					fontColor: "#FFFFFF"
				},
				axisX: {
					labelFontColor: "#FFFFFF"
				},
				axisY: {
					labelFontColor: "#FFFFFF"
				},
				dataPointWidth: 20,
				width: 700,
				data: [{
					type: "column",
					color: "white",
					indexLabel: "{y}",
					indexLabelFontColor: "#FFFFFF",
					dataPoints: [
						{ y: dataArray[cvi.length - 1].opportunity_cost.assistance, label: "Assistance" },
						{ y: dataArray[cvi.length - 1].opportunity_cost.convenience, label: "Convenience" },
						{ y: dataArray[cvi.length - 1].opportunity_cost.predictability, label: "Predictability" },
						{ y: dataArray[cvi.length - 1].opportunity_cost.hassle_data, label: "Hassle Data" },
						{ y: dataArray[cvi.length - 1].opportunity_cost.timeliness, label: "Timeliness" },
						{ y: dataArray[cvi.length - 1].opportunity_cost.reduction_of_uncertainity, label: "Reeduction of Uncertainity" }
					]
				}]
			});
			chart.render();


			var chart = new CanvasJS.Chart("chartContainerFive", {
				animationEnabled: true,
				backgroundColor: "#2F3547",
				//theme: "dark1", // "light1", "light2", "dark1", "dark2"
				title: {
					text: "Monetary Cost",
					fontColor: "#FFFFFF",
					fontSize: 18,
					fontFamily: "Arial"
				},
				toolTip: {
					backgroundColor: "#1E2333",
					fontColor: "#FFFFFF"
				},
				axisX: {
					labelFontColor: "#FFFFFF"
				},
				axisY: {
					labelFontColor: "#FFFFFF"
				},
				dataPointWidth: 20,
				width: 200,
				data: [{
					type: "column",
					color: "white",
					indexLabel: "{y}",
					indexLabelFontColor: "#FFFFFF",
					dataPoints: [
						{ y: dataArray[cvi.length - 1].monetary_cost.monetary_rewards, label: "Monetary Rewards" },
						{ y: dataArray[cvi.length - 1].monetary_cost.maintenance_cost, label: "Maintenance" }
					]
				}]
			});
			chart.render();

			// Live example////


			var dataPoint = [];
			// var sampleValue = [[0, 7], [1, 8], [2, 4], [3, 3], [4, 5], [5, 1], [6, 2], [7, 0], [8, -2], [9, -7]];

			var chart = new CanvasJS.Chart("liveLineChartContainer", {
				animationEnabled: true,
				backgroundColor: "#2F3547",
				//theme: "dark1", // "light1", "light2", "dark1", "dark2"
				title: {
					text: "Customer Value Index ",
					fontColor: "#FFFFFF",
					fontSize: 18,
					fontFamily: "Arial"
				},
				toolTip: {
					backgroundColor: "#1E2333",
					fontColor: "#FFFFFF"
				},
				axisX: {
					labelFontColor: "#FFFFFF",
					title: "Steps",
					titleFontColor: "#FFFFFF"
				},
				axisY: {
					labelFontColor: "#FFFFFF",
					title: "CVI value",
					titleFontColor: "#FFFFFF"
				},
				data: [{
					type: "line",
					dataPoints: dataPoint
				}]
			});

			var i = 0;
			updateData();

			function addData(data) {

				dataPoint.push({ y: data })
				console.log(dataPoint)
				chart.render();
				document.getElementById('cvi').innerHTML = data;
				setTimeout(updateData, 30000);
			}

			function updateData() {
				var newData = parseFloat(cvi[i]);

				console.log('new' + newData + ' ' + typeof newData)
				if (i != cvi.length)
					addData(newData)
				i++;
			}

			//Live bar example




		}	
	</script>
</head>

<body>

	<div class="cvi-class">
		<div>
			<span> Customer Value = </span>
			<span id="cvi"></span>
		</div>
		<div class="tooltip">
			<span style="border: 1px solid white; border-radius: 50%; padding: 2px 7px;">?</span>
			<span class="tooltiptext">Customer Value= (Functional Benefits+ Social Benefits+ Psychological Benefits)/(Opportunity Cost+ Monetary Cost)</span>
		</div>
	</div>

	<div id="liveLineChartContainer" style="height: 370px; width: 100%;" class="chart-class"></div>

	<div id="chartContainer" style="height: 370px; width: 774px" class="chart-class chart-margin"></div>
	<div id="chartContainerTwo" style="height: 370px; width: 915px" class="chart-class"></div>
	<div id="chartContainerThree" style="height: 370px; width: 774px" class="chart-class chart-margin"></div>
	<div id="chartContainerFour" style="height: 370px; width: 700px" class="chart-class chart-margin"></div>
	<div id="chartContainerFive" style="height: 370px; width: 200px" class="chart-class"></div>



	<!-- <div id="liveLineChartContainer" style="height: 370px; width: 100%;"></div> -->


	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>

</body>

</html>